{% extends "ecom_app/base.html" %}
{% load static %}

{% block title %}My Profile{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-lg p-4 rounded-4">
                <h2 class="text-center mb-4">User Profile</h2>

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label fw-semibold">Full Name</label>
                        {{ form.name }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-semibold">Locality</label>
                        {{ form.locality }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-semibold">City</label>
                        {{ form.city }}
                    </div>

                    <div class="mb-4">
                        <label class="form-label fw-semibold">State</label>
                        {{ form.state }}
                    </div>

                   <div class="text-center">
                        <!-- SAVE BUTTON -->
                        <button type="submit" 
                            class="btn btn-success my-2 mx-4"
                            style="width: 180px; height: 45px;">
                            Save Profile
                        </button>

                        <br>

                        <!-- VIEW BUTTON -->
                        <a href="{% url 'profile2' %}" 
                            class="btn btn-primary my-2"
                            style="width: 180px; height: 45px;">
                            Go to Profile
                        </a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}